<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  <targets async="true">
    <target name="default" type="File" fileName="/var/log/service-logs/lyncNinja/app-log.txt" archiveFileName="/var/log/service-logs/lyncNinja/archives/app-log_{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7">
      <layout type="JsonLayout" >
        <attribute name="Level" layout="${level:upperCase=true}" />
        <attribute name="Time" layout="${longdate:universalTime=true}" />
        <attribute name="CorrelationId" layout="${aspnet-item:variable=CorrelationId}" />
        <attribute name="Source" layout="${logger}" />
        <attribute name="Message" layout="${message}" />
        <attribute name="Request" layout="${aspnet-item:variable=Request}" />
        <attribute name="Response" layout="${aspnet-item:variable=Response}" />
        <attribute name="Exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
    <target name="errors" type="File" fileName="/var/log/service-logs/lyncNinja/app-errors.txt" archiveFileName="/var/log/service-logs/lyncNinja/archives/app-errors_{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7">
      <layout type="JsonLayout">
        <attribute name="Level" layout="${level:upperCase=true}" />
        <attribute name="Time" layout="${longdate:universalTime=true}" />
        <attribute name="CorrelationId" layout="${aspnet-item:variable=CorrelationId}" />
        <attribute name="Source" layout="${logger}" />
        <attribute name="Message" layout="${message}" />
        <attribute name="Exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="Microsoft.*" minlevel="Info" writeTo="" final="true" />
    <logger name="*" maxLevel="Warn" writeTo="default" />
    <logger name="*" minlevel="Error" writeTo="errors" />
  </rules>
</nlog>